/* * {
    text-align: center;
}
 */


/*
    This is example of Simple selectors
h2 {
    letter-spacing: 4px;
    word-spacing: 10px;
    color: red;
}

#heading-1 {
    color: blue;
    text-align: left;
}

.heading-2 {
    background-color: brown;
} */

/* Example of grouping selector */
/* h1, h2, span, p {
    color: blue;
    font-size: 20px;
} */

/* Example of descenant selectors */
/* div  p {
    color: red;
    font-size: 28px;
    text-align: center;
} */

/* Example of child selectors */
/* div  p {
    color: red;
    font-size: 28px;
    text-align: center;
} */

/* Example of Sibling Selector */
/* div + p {
    color: red;
    font-size: 28px;
    text-align: center;
} */
/* span + p {
    color: blue;
    font-size: 30px;
    background-color: aliceblue;
} */
div {
    background-color: red;
}

div ~ p {
    background-color: yellow;
    text-align: center;
}